<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsLXADr_tW1M_Gwd9xP6dr1xlRyN8BOAA</string>
	<key>GCM_SENDER_ID</key>
	<string>763442332988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakibbinalim.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-40823</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-40823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763442332988:ios:862986f5d7fe8ec6c28a39</string>
</dict>
</plist>